{% extends "layouts/default.html" %}

{% block content %}

<div class="login_window">
  <h1>Set a new password</h1>
  <p>
    Choose a new password for your account.
  </p>
  {% if let Some(error) = error %}
  <p class="error">{{ error }}</p>
  {% endif %}
  <form action="/frontend/reset-password/{{ token }}" method="post" id="form_reset_password">
    <input type="hidden" name="csrf" value="{{ csrf }}">
    <div>
      <label>
        New password
        <input type="password" name="password" autocomplete="new-password" minlength="{{ min_password_length }}" required>
      </label>
    </div>
    <div>
      <label>
        Confirm new password
        <input type="password" name="password_confirm" autocomplete="new-password" required>
      </label>
    </div>
    <button type="submit" class="margin-top-m">Set new password</button>
  </form>
</div>

{% endblock %}